{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} My Blog {% endblock %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/paginator.css' %} ">

<link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock css %}


{% block content %}

<div class="list-heading">
  <h2>My<span>.</span>Blog</h2>
  <ul>
    <li>Web Security</li>
    <li>API security</li>
    <li>Dev life</li>
    <li>Reverse Engineering</li>
    <li>Malware Analysis</li>
  </ul>
</div>



{% if tag %}
<div class="home_btn">
  <a href="{% url 'blog:post_list' %}">All Posts</a>
</div>

<h2 class="tags_list_heading">Posts tagged with "{{ tag.name }}"</h2>
{% endif %} {% for post in posts %}

<div class="post">
  <h2 class="post-heading">
    <a href="{{post.get_absolute_url}}"> {{ post.title }} </a>
  </h2>
  <p class="tags">
    {% for tag in post.tags.all %}
    <a href="{% url 'blog:post_list_by_tag' tag.slug %}"> {{ tag.name }} </a>
    {% if not forloop.last %} {% endif %} {% endfor %}
  </p>
  <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
  <div class="post-excerpt">
    {{ post.body|markdown|truncatewords_html:15 }}
  </div>
  <a class="read-more" href="{{post.get_absolute_url}}"> Read more → </a>
</div>
{% endfor %}


{% include 'pagination.html' with page=posts %}

{% endblock content %}
